@model PruebaTec02EYCD.Models.Pelicula

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Pelicula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input type="file" id="fileImagen" onchange="mostrarVistaPrevia()" accept="image/*"
                       asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
                <div class="form-group">
                    <img id="imagenPrevia" src="~/img/default.png" alt="Vista previa de la imagen" style="max-width: 200px; max-height: 200px;">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Sinopsis" class="control-label"></label>
                <input asp-for="Sinopsis" class="form-control" />
                <span asp-validation-for="Sinopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioLanzamiento" class="control-label"></label>
                <input asp-for="AnioLanzamiento" class="form-control" />
                <span asp-validation-for="AnioLanzamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDirectores" class="control-label"></label>
                <select asp-for="IdDirectores" class ="form-control" asp-items="ViewBag.IdDirectores"></select>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function mostrarVistaPrevia() {
            var input = document.getElementById('fileImagen');
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById('imagenPrevia').src = e.target.result;
                }

                reader.readAsDataURL(input.files[0]); // Convierte el archivo a una URL base64
            }
        }

    </script>
}
